<form action="" method="POST">
    <label>Name:</label>
    <input type="text" name = "name"/>
    <label>Tittle:</label>
    <input type="text" name = "tittle"/>
    <lable>Img address:</lable>
    <input type="text" name = "img" />
    <input type="submit"/>
</form>